In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('/content/defects_data_cleaned_csv.csv')
df.head()

,defect_id,product_id,defect_type,year,month,month_no,quarter,defect_date,defect_location,severity_level,severity,inspection_method,repair_cost,Unnamed: 13,Unnamed: 14
0,1,15,Structural,2024,Jun,6,Q2,06-06-2024,Component,MINOR,Minor,Visual Inspection,245.47,NaN,NaN
1,2,6,Functional,2024,Apr,4,Q2,26-04-2024,Component,MINOR,Minor,Visual Inspection,26.87,NaN,NaN
2,3,84,Structural,2024,Feb,2,Q1,15-02-2024,Internal,MINOR,Minor,Automated Testing,835.81,NaN,NaN
3,4,10,Functional,2024,Mar,3,Q1,28-03-2024,Internal,CRITICAL,Critical,Automated Testing,444.47,NaN,NaN
4,5,14,Cosmetic,2024,Apr,4,Q2,26-04-2024,Component,MINOR,Minor,Manual Testing,823.64,NaN,NaN

In [5]:
df.shape

(1000, 15)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   defect_id          1000 non-null   int64
 1   product_id         1000 non-null   int64
 2   defect_type        1000 non-null   object
 3   year               1000 non-null   int64
 4   month              1000 non-null   object
 5   month_no           1000 non-null   int64
 6   quarter            1000 non-null   object
 7   defect_date        1000 non-null   object
 8   defect_location    1000 non-null   object
 9   severity_level     1000 non-null   object
 10  severity           1000 non-null   object
 11  inspection_method  1000 non-null   object
 12  repair_cost        1000 non-null   float64
 13  Unnamed: 13        0 non-null      float64
 14  Unnamed: 14        0 non-null      float64
dtypes: float64(3), int64(4), object(8)
memory usage: 117.3+ KB

In [7]:
df.describe()

,defect_id,product_id,year,month_no,repair_cost,Unnamed: 13,Unnamed: 14
count,1000.000000,1000.000000,1000.0,1000.000000,1000.000000,0.0,0.0
mean,500.500000,50.837000,2024.0,4.643000,507.627150,NaN,NaN
std,288.819436,29.480935,0.0,2.930553,289.623615,NaN,NaN
min,1.000000,1.000000,2024.0,1.000000,10.220000,NaN,NaN
25%,250.750000,26.000000,2024.0,2.000000,270.902500,NaN,NaN
50%,500.500000,51.000000,2024.0,4.000000,506.430000,NaN,NaN
75%,750.250000,77.000000,2024.0,6.000000,759.065000,NaN,NaN
max,1000.000000,100.000000,2024.0,12.000000,999.640000,NaN,NaN

In [8]:
df.describe(include='all')

,defect_id,product_id,defect_type,year,month,month_no,quarter,defect_date,defect_location,severity_level,severity,inspection_method,repair_cost,Unnamed: 13,Unnamed: 14
count,1000.000000,1000.000000,1000,1000.0,1000,1000.000000,1000,1000,1000,1000,1000,1000,1000.000000,0.0,0.0
unique,NaN,NaN,3,NaN,12,NaN,4,182,3,3,3,3,NaN,NaN,NaN
top,NaN,NaN,Structural,NaN,Mar,NaN,Q1,06-08-2024,Surface,MINOR,Minor,Manual Testing,NaN,NaN,NaN
freq,NaN,NaN,352,NaN,146,NaN,415,12,353,358,358,352,NaN,NaN,NaN
mean,500.500000,50.837000,NaN,2024.0,NaN,4.643000,NaN,NaN,NaN,NaN,NaN,NaN,507.627150,NaN,NaN
std,288.819436,29.480935,NaN,0.0,NaN,2.930553,NaN,NaN,NaN,NaN,NaN,NaN,289.623615,NaN,NaN
min,1.000000,1.000000,NaN,2024.0,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,10.220000,NaN,NaN
25%,250.750000,26.000000,NaN,2024.0,NaN,2.000000,NaN,NaN,NaN,NaN,NaN,NaN,270.902500,NaN,NaN
50%,500.500000,51.000000,NaN,2024.0,NaN,4.000000,NaN,NaN,NaN,NaN,NaN,NaN,506.430000,NaN,NaN
75%,750.250000,77.000000,NaN,2024.0,NaN,6.000000,NaN,NaN,NaN,NaN,NaN,NaN,759.065000,NaN,NaN
max,1000.000000,100.000000,NaN,2024.0,NaN,12.000000,NaN,NaN,NaN,NaN,NaN,NaN,999.640000,NaN,NaN

In [9]:
df.isnull().sum()

defect_id               0
product_id              0
defect_type             0
year                    0
month                   0
month_no                0
quarter                 0
defect_date             0
defect_location         0
severity_level          0
severity                0
inspection_method       0
repair_cost             0
Unnamed: 13          1000
Unnamed: 14          1000
dtype: int64

In [10]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df.columns

Index(['defect_id', 'product_id', 'defect_type', 'year', 'month', 'month_no',
       'quarter', 'defect_date', 'defect_location', 'severity_level',
       'severity', 'inspection_method', 'repair_cost', 'unnamed:_13',
       'unnamed:_14'],
      dtype='object')

In [11]:
df['severity'].value_counts()
df['defect_type'].value_counts()
df['defect_location'].value_counts()
df['inspection_method'].value_counts()

inspection_method
Manual Testing       352
Visual Inspection    351
Automated Testing    297
Name: count, dtype: int64

In [12]:
df['defect_date'] = pd.to_datetime(
    df['defect_date'],
    format='mixed',
    dayfirst=True,
    errors='coerce'
)

In [13]:
df['defect_date'].head(10)

0   2024-06-06
1   2024-04-26
2   2024-02-15
3   2024-03-28
4   2024-04-26
5   2024-11-05
6   2024-05-23
7   2024-01-15
8   2024-01-26
9   2024-05-06
Name: defect_date, dtype: datetime64[ns]

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   defect_id          1000 non-null   int64
 1   product_id         1000 non-null   int64
 2   defect_type        1000 non-null   object
 3   year               1000 non-null   int64
 4   month              1000 non-null   object
 5   month_no           1000 non-null   int64
 6   quarter            1000 non-null   object
 7   defect_date        1000 non-null   datetime64[ns]
 8   defect_location    1000 non-null   object
 9   severity_level     1000 non-null   object
 10  severity           1000 non-null   object
 11  inspection_method  1000 non-null   object
 12  repair_cost        1000 non-null   float64
 13  unnamed:_13        0 non-null      float64
 14  unnamed:_14        0 non-null      float64
dtypes: datetime64[ns](1), float64(3), int64(4), object(7)
memory usage: 117.3+ KB

In [15]:
df[df['defect_date'].isna()]

Empty DataFrame
Columns: [defect_id, product_id, defect_type, year, month, month_no, quarter, defect_date, defect_location, severity_level, severity, inspection_method, repair_cost, unnamed:_13, unnamed:_14]
Index: []

In [16]:
df['year'] = df['defect_date'].dt.year
df['month'] = df['defect_date'].dt.month
df['month_name'] = df['defect_date'].dt.month_name()

In [17]:
df[['defect_date','year','month_name']].head()

  defect_date  year month_name
0  2024-06-06  2024       June
1  2024-04-26  2024      April
2  2024-02-15  2024   February
3  2024-03-28  2024      March
4  2024-04-26  2024      April

In [18]:
df['severity'].value_counts()

severity
Minor       358
Critical    333
Moderate    309
Name: count, dtype: int64

In [19]:
df.groupby('severity')['repair_cost'].mean().sort_values(ascending=False)

severity
Minor       514.432877
Critical    505.871622
Moderate    501.634078
Name: repair_cost, dtype: float64

In [21]:
import pandas as pd
df = pd.read_csv('/content/defects_data_cleaned_csv.csv')
df.head()

,defect_id,product_id,defect_type,year,month,month_no,quarter,defect_date,defect_location,severity_level,severity,inspection_method,repair_cost,Unnamed: 13,Unnamed: 14
0,1,15,Structural,2024,Jun,6,Q2,06-06-2024,Component,MINOR,Minor,Visual Inspection,245.47,NaN,NaN
1,2,6,Functional,2024,Apr,4,Q2,26-04-2024,Component,MINOR,Minor,Visual Inspection,26.87,NaN,NaN
2,3,84,Structural,2024,Feb,2,Q1,15-02-2024,Internal,MINOR,Minor,Automated Testing,835.81,NaN,NaN
3,4,10,Functional,2024,Mar,3,Q1,28-03-2024,Internal,CRITICAL,Critical,Automated Testing,444.47,NaN,NaN
4,5,14,Cosmetic,2024,Apr,4,Q2,26-04-2024,Component,MINOR,Minor,Manual Testing,823.64,NaN,NaN

In [22]:
df['defect_date'] = pd.to_datetime(
    df['defect_date'],
    format='mixed',
    dayfirst=True,
    errors='coerce'
)

In [23]:
df['High_Severity_Flag'] = df['severity'].apply(
    lambda x: 1 if x in ['High', 'Critical'] else 0
)

In [24]:
df['High_Severity_Flag'].value_counts()

High_Severity_Flag
0    667
1    333
Name: count, dtype: int64

In [25]:
df_encoded = pd.get_dummies(
    df,
    columns=['defect_type','defect_location','inspection_method'],
    drop_first=True
)

In [26]:
df_encoded.head()

,defect_id,product_id,year,month,month_no,quarter,defect_date,severity_level,severity,repair_cost,Unnamed: 13,Unnamed: 14,High_Severity_Flag,defect_type_Functional,defect_type_Structural,defect_location_Internal,defect_location_Surface,inspection_method_Manual Testing,inspection_method_Visual Inspection
0,1,15,2024,Jun,6,Q2,2024-06-06,MINOR,Minor,245.47,NaN,NaN,0,False,True,False,False,False,True
1,2,6,2024,Apr,4,Q2,2024-04-26,MINOR,Minor,26.87,NaN,NaN,0,True,False,False,False,False,True
2,3,84,2024,Feb,2,Q1,2024-02-15,MINOR,Minor,835.81,NaN,NaN,0,False,True,True,False,False,False
3,4,10,2024,Mar,3,Q1,2024-03-28,CRITICAL,Critical,444.47,NaN,NaN,1,True,False,True,False,False,False
4,5,14,2024,Apr,4,Q2,2024-04-26,MINOR,Minor,823.64,NaN,NaN,0,False,False,False,False,True,False

In [27]:
X = df_encoded.drop(['High_Severity_Flag','defect_id','defect_date'], axis=1)
y = df_encoded['High_Severity_Flag']

In [28]:
X.shape, y.shape

((1000, 16), (1000,))

In [29]:
from sklearn.linear_model import LogisticRegression

In [30]:
model = LogisticRegression(max_iter=1000)

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
import pandas as pd

In [34]:
df = pd.read_csv('/content/defects_data_cleaned_csv.csv')
df.head()

,defect_id,product_id,defect_type,year,month,month_no,quarter,defect_date,defect_location,severity_level,severity,inspection_method,repair_cost,Unnamed: 13,Unnamed: 14
0,1,15,Structural,2024,Jun,6,Q2,06-06-2024,Component,MINOR,Minor,Visual Inspection,245.47,NaN,NaN
1,2,6,Functional,2024,Apr,4,Q2,26-04-2024,Component,MINOR,Minor,Visual Inspection,26.87,NaN,NaN
2,3,84,Structural,2024,Feb,2,Q1,15-02-2024,Internal,MINOR,Minor,Automated Testing,835.81,NaN,NaN
3,4,10,Functional,2024,Mar,3,Q1,28-03-2024,Internal,CRITICAL,Critical,Automated Testing,444.47,NaN,NaN
4,5,14,Cosmetic,2024,Apr,4,Q2,26-04-2024,Component,MINOR,Minor,Manual Testing,823.64,NaN,NaN

In [35]:
df['defect_date'] = pd.to_datetime(
    df['defect_date'],
    format='mixed',
    dayfirst=True,
    errors='coerce'
)

In [36]:
df['High_Severity_Flag'] = df['severity'].apply(
    lambda x: 1 if x in ['High', 'Critical'] else 0
)

In [37]:
df['High_Severity_Flag'].value_counts()

High_Severity_Flag
0    667
1    333
Name: count, dtype: int64

In [38]:
df_encoded = pd.get_dummies(
    df,
    columns=['defect_type','defect_location','inspection_method'],
    drop_first=True
)
df_encoded.head()

,defect_id,product_id,year,month,month_no,quarter,defect_date,severity_level,severity,repair_cost,Unnamed: 13,Unnamed: 14,High_Severity_Flag,defect_type_Functional,defect_type_Structural,defect_location_Internal,defect_location_Surface,inspection_method_Manual Testing,inspection_method_Visual Inspection
0,1,15,2024,Jun,6,Q2,2024-06-06,MINOR,Minor,245.47,NaN,NaN,0,False,True,False,False,False,True
1,2,6,2024,Apr,4,Q2,2024-04-26,MINOR,Minor,26.87,NaN,NaN,0,True,False,False,False,False,True
2,3,84,2024,Feb,2,Q1,2024-02-15,MINOR,Minor,835.81,NaN,NaN,0,False,True,True,False,False,False
3,4,10,2024,Mar,3,Q1,2024-03-28,CRITICAL,Critical,444.47,NaN,NaN,1,True,False,True,False,False,False
4,5,14,2024,Apr,4,Q2,2024-04-26,MINOR,Minor,823.64,NaN,NaN,0,False,False,False,False,True,False

In [39]:
X = df_encoded.drop(['High_Severity_Flag','defect_id','defect_date'], axis=1)
y = df_encoded['High_Severity_Flag']
X.shape, y.shape

((1000, 16), (1000,))

In [40]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [41]:
X_train.shape, X_test.shape

((800, 16), (200, 16))

In [42]:
from sklearn.linear_model import LogisticRegression

In [43]:
model = LogisticRegression(max_iter=1000)

In [44]:
X.dtypes

product_id                               int64
year                                     int64
month                                   object
month_no                                 int64
quarter                                 object
severity_level                          object
severity                                object
repair_cost                            float64
Unnamed: 13                            float64
Unnamed: 14                            float64
defect_type_Functional                    bool
defect_type_Structural                    bool
defect_location_Internal                  bool
defect_location_Surface                   bool
inspection_method_Manual Testing          bool
inspection_method_Visual Inspection       bool
dtype: object

In [45]:
X = df_encoded.drop(
    ['High_Severity_Flag', 'defect_id', 'defect_date', 'severity'],
    axis=1
)
y = df_encoded['High_Severity_Flag']

In [46]:
X.dtypes

product_id                               int64
year                                     int64
month                                   object
month_no                                 int64
quarter                                 object
severity_level                          object
repair_cost                            float64
Unnamed: 13                            float64
Unnamed: 14                            float64
defect_type_Functional                    bool
defect_type_Structural                    bool
defect_location_Internal                  bool
defect_location_Surface                   bool
inspection_method_Manual Testing          bool
inspection_method_Visual Inspection       bool
dtype: object

In [47]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [50]:
X = df.drop(['severity'], axis=1)   # or your target column
y = df['severity']

In [58]:
# Drop date column
X = df.drop(['severity', 'defect_date'], axis=1)
y = df['severity']

In [59]:
X_encoded = pd.get_dummies(X, drop_first=True)

In [60]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X_encoded, y, test_size=0.2, random_state=42
)

In [62]:
df['defect_year'] = df['defect_date'].dt.year
df['defect_month'] = df['defect_date'].dt.month
df['defect_day'] = df['defect_date'].dt.day

X = df.drop(['severity', 'defect_date'], axis=1)
y = df['severity']

X_encoded = pd.get_dummies(X, drop_first=True)

In [64]:
df['defect_date'] = pd.to_datetime(df['defect_date'])

In [65]:
X = df.drop(['severity', 'defect_date'], axis=1)
y = df['severity']

In [66]:
X_encoded = pd.get_dummies(X, drop_first=True)

In [67]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X_encoded, y, test_size=0.2, random_state=42
)

In [69]:
X_encoded.isna().sum().sort_values(ascending=False).head(10)

Unnamed: 14           1000
Unnamed: 13           1000
defect_id                0
product_id               0
year                     0
repair_cost              0
month_no                 0
High_Severity_Flag       0
defect_year              0
defect_month             0
dtype: int64

In [70]:
X_encoded = X_encoded.fillna(0)

In [71]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X_encoded, y, test_size=0.2, random_state=42
)

from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

/usr/local/lib/python3.12/dist-packages/sklearn/linear_model/_logistic.py:465: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(max_iter=1000)

In [73]:
y_pred = model.predict(X_test)

In [74]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)
accuracy

1.0

In [75]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test, y_pred)

array([[60,  0,  0],
       [ 0, 83,  0],
       [ 0,  0, 57]])

In [76]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

    Critical       1.00      1.00      1.00        60
       Minor       1.00      1.00      1.00        83
    Moderate       1.00      1.00      1.00        57

    accuracy                           1.00       200
   macro avg       1.00      1.00      1.00       200
weighted avg       1.00      1.00      1.00       200

In [77]:
df_results = X_test.copy()
df_results['Actual_Severity'] = y_test
df_results['Predicted_Severity'] = y_pred

df_results.to_csv("ml_predictions.csv", index=False)

In [78]:
df.to_csv('//content/defects_data_cleaned_csv.csv', index=False)

In [79]:
df_encoded.to_csv("defects_data_ml_ready.csv", index=False)

In [80]:
df_results = X_test.copy()
df_results['Actual_Severity'] = y_test
df_results['Predicted_Severity'] = y_pred

In [81]:
df_results.to_csv("ml_predictions.csv", index=False)

In [82]:
import joblib

joblib.dump(model, "logistic_regression_qc_model.pkl")

['logistic_regression_qc_model.pkl']

In [83]:
from google.colab import drive
drive.mount('/content/drive')

df_results.to_csv('/content/drive/MyDrive/ml_predictions.csv', index=False)

Mounted at /content/drive